@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Plus Jakarta Sans";
}

.our-value {
  padding: 4rem 9rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.val {
  display: flex;
  justify-content: center;
}
.desc {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.desc h2 {
  color: #0c054e;
}
.desc p {
  font-size: 15px;
}
.value-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2em;
  place-items: center;
}
.g {
  background-color: #f4f6fa;
  width: 100%;
  text-align: center;
  border-top: 6px solid #e6793b;
  border-radius: 6px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.g p {
  font-size: 14px;
}
.g:hover {
  transform: translateY(-10px);
}
.icon-med {
  font-size: 5rem;
}
.values {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem 3rem;
  padding: 0 40px;
  overflow: hidden;
  display: none;
}
.fade {
  background: linear-gradient(to bottom, rgba(15, 26, 36, 0), #0f1a24);
}

.value-text {
  font-size: 12vw;
  font-weight: 800;
  margin: 0;
  transform: translateY(100px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  white-space: nowrap;
}

.slide-group .value-text {
  transform: translateY(0);
  opacity: 1;
}

.value-text:not(:last-child) {
  margin-bottom: -1.2vw;
}

.services {
  padding: 4rem 9rem;
  color: #eeeeee;
  background-color: #eeeeee;
  position: relative;
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.services.animate-in {
  transform: translateY(0);
  opacity: 1;
}
.services .but4 {
  background-color: #e6793b;
}
.but-mid {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.but-mid a {
  text-decoration: none;
}
.services h2 {
  font-size: 30pt;
  text-align: center;
  color: #0c054e;
  padding-bottom: 2rem;
}

.service-cards {
  display: flex;
  gap: 30px;
  overflow-x: auto;
}
.scroll-arrow {
  position: absolute;
  color: black;
}
.right {
  right: 0;
  top: 35%;
}
.left {
  left: 0;
  top: 35%;
}

.card {
  text-align: center;
  min-width: 22rem;
}

.card h4 {
  font-size: 16pt;
  color: #0b0829;
}

.card p {
  color: #828282;
  font-size: 14px;
}

.card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.why-chadia {
  background-color: #d9d9d9;
  color: #0b0829;
  padding: 40px 20px;
  text-align: left;
}
.get-in-touch h1 {
  color: #0c054e;
}
.about-page {
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

.about-hero {
  text-align: left;
  margin-bottom: 2rem;
  color: #575656;
}

.about-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #0c054e;
}

.about-flex {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.about-flex img {
  max-width: 400px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  flex: 1;
  font-size: 1.05rem;
  line-height: 1.6;
  color: #444;
}
.get-in-touch {
  margin-top: 5rem;
  font-size: 24px;
}
.two {
  position: relative;
}
.logo1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  opacity: 20%;
}

.contact-form {
  position: relative;
  margin-top: 3rem;
  padding: 2rem 20rem;
  border-radius: 5px;
  z-index: 4;
}

.contact-form h2 {
  margin-bottom: 1rem;
  color: #0c054e;
}

.contact-form .form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid black;
  background: none;
}

.contact-form button {
  background-color: #e6793b;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.WE {
  padding: 4rem 9rem;
  background: white;
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.WE.animate-in {
  transform: translateY(0);
  opacity: 1;
}
.new {
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.new.animate-in {
  transform: translateY(0);
  opacity: 1;
}
.sustainability-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.sustainability-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0c054e;
}

.sustainability-page p {
  color: #444;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.pillars {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.pillar {
  flex: 1 1 300px;
  background-color: #f0f8ff;
  padding: 1.5rem;
  border-radius: 8px;
  border-left: 5px solid #ffa500;
}

.pillar h3 {
  margin-top: 0;
  color: #000;
}

.pillar p {
  margin-top: 0.5rem;
}
.services-hero {
  margin-top: 5rem;
  padding: 8rem 9rem;
}
.services-hero h1 {
  font-size: 40px;
  text-align: center;
}
.services-hero p {
  text-align: center;
}
.services-page {
  padding: 0 0;
}
.services-page img {
  width: 24rem;
  height: 17rem;
}
.services-grid {
  display: flex;
  flex-direction: column;
}
.service-card {
  background-color: #eeeeee;
  padding: 5rem 9rem;
  gap: 2rem;
}
.service-card1 {
  flex-direction: row-reverse;
  padding: 5rem 9rem;
  gap: 2rem;
}
.service-card p,
.service-card1 p {
  line-height: 1.6;
  color: #444;
  font-size: 1.05em;
}
.service-card h2,
.service-card1 h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #0c054e;
}
.more {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.more1 {
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  align-items: center;
}
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 999;
}
/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .us-grid {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    padding-top: 80px;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    z-index: 998;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6); /* dark translucent background */
    z-index: 90; /* just behind your menu */
  }

  .us-grid.open {
    right: 0;
  }

  .gr {
    margin-left: 20px;
    font-size: 18px;
  }

  .nav-container {
    justify-content: space-between;
    align-items: center;
  }

  .eng {
    display: none;
  }
  .footer-links {
    gap: 1rem;
  }
  .footer {
    padding: 1rem 2rem;
  }
  .footer-top p {
    font-size: 9px;
  }
  .resources {
    gap: 0rem;
    text-align: end;
  }
  .footer-links p {
    color: #666;
    font-size: 12px;
    cursor: pointer;
  }
  .hero h1 {
    font-size: 25pt;
    width: auto;
  }
  .hero p {
    width: auto;
  }
  .WE,
  .services,
  .our-value {
    padding: 3rem 2rem;
  }
  .value-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .services-hero {
    padding: 9rem 5rem;
  }
  .more,
  .more1 {
    flex-direction: column;
  }
  .service-card,
  .service-card1 {
    padding: 4rem 2rem;
  }
  .services-page img {
    width: 21rem;
    height: 13rem;
  }
  .contact-form {
    padding: 2rem 2rem;
  }
  .logo1 img {
    width: 25rem;
  }
  .hero-content {
    padding: 120px 40px 60px 60px;
    height: 60%;
  }
  .hero-content h1 {
    font-size: 25pt;
    font-weight: bold;
  }
  .hero-content p {
    text-align: center;
  }
  .scroll-arrow {
    background: none;
  }
}
